<div id="etherpad-plugin-body" data-host=<%= @page.etherpad_plugin_server %> data-id=<%= @page.etherpad_plugin_id%> <%= "data-username='#{user.name}'" if user%>></div>

<%= javascript_include_tag 'plugins/etherpad/etherpad-lite-jquery-plugin/js/etherpad.js' %>
<%= javascript_include_tag 'plugins/etherpad/pad.js' %>
