<%= render :partial => 'article', :locals => {:f => f} %>

<% settings = Noosfero::Plugin::Settings.new(environment, EtherpadPlugin) %>
<%= labelled_form_field(_('Server:'), text_field_tag('article[etherpad_plugin_server]', @article.etherpad_plugin_server || settings.url )) %>
<%= labelled_form_field(_('Id:'), text_field_tag('article[etherpad_plugin_id]', @article.etherpad_plugin_id)) %>
