<h1><%= _('Etherpad settings')%></h1>

<%= form_for(:settings) do |f| %>
  <%= labelled_form_field _('Server url'), f.text_field(:url) %>
  <%= labelled_form_field _('API key'), f.text_field(:api_key) %>

    <% button_bar do %>
      <%= submit_button(:save, _('Save'), :cancel => {:controller => 'plugins', :action => 'index'}) %>
    <% end %>
<% end %>
